  <div class="container-fluid">
      <div class="row" id="head">
          <div class="col-12">
              <header class="row">
                  <!--Start Header-->
                  <div class="top-nav col-12 g-white pt-3">
                      <header>
                          <div class="responsive-bar z-50">
                              <div class="logo">
                                  <a href="/"><img src="images/logo.png"></a>
                              </div>
                              <div class="menu">
                                  <span onclick="openNav()"><i class="fas fa-bars"></i></span>
                              </div>
                              <div class="shop-cart">
                                  <span><a href="/cart"><i class="fas fa-shopping-bag fa-2x"></i>
                                    <span class='badge badge-warning' id='lblCartCount' value = "cartCount">{{session.cart.totalQty}}</span>         
                                     </a></span>
                              </div>
                          </div>

                          <nav>
                              <div class="logo">
                                  <a href="/"><img src="/images/logo.png"></a>
                              </div>
                              <div>
                                  <ul>
                                      <li><a href="#search" class="search-form-tigger" data-toggle="search-form"><i
                                                  class="fa fa-search" aria-hidden="true"></i> browse</a>
                                          <div class="search-form-wrapper">
                                              <form class="search-form" id="" action="/data/searchBooks" method="POST">
                                                  <div class="input-group">
                                                      <i class="fa fa-search" aria-hidden="true"></i>
                                                      <input type="text" name="searchBook" class="search form-control"
                                                          placeholder="Search..." maxlength="50">

                                                      <span class="input-group-addon" data-toggle="search-form-close"
                                                          id="basic-addon2"><i class="fa fa-times"
                                                              aria-hidden="true"></i>
                                                      </span>
                                                  </div>
                                              </form>
                                          </div>
                                      </li>
                                      <li><a href="/">Home</a></li>
                                      <li>
                                          <a href="#">Category</a>
                                          <ul class="category-list">
                                              <li><a href="/category/action-adventure">Action and Adventure</a></li>
                                              <li><a href="/category/childrens-fiction">Children's Fiction</a></li>
                                              <li><a href="/category/comic-graphic">Comic and Graphic Novel</a></li>
                                              <li><a href="/category/drama">Drama</a></li>
                                              <li><a href="/category/fairytale">Fairy Tale</a></li>
                                              <li><a href="/category/fantasy-scifi">Fantasy and Sci-Fi</a></li>
                                              <li><a href="/category/horror-thriller">Horror and Thriller</a></li>
                                              <li><a href="/category/mystery">Mystery</a></li>
                                              <li><a href="/category/romance">Romance</a></li>
                                              <li><a href="/category/young-adult">Young Adult</a></li>
                                          </ul>
                                      </li>
                                      <li><a href="/cart"><i class="fas fa-shopping-bag fa-2x"></i>
                                        <span class='badge badge-warning' id='lblCartCount' value = "cartCount">{{session.cart.totalQty}}</span>                                      
                                        </a></li>
                                      <li>
                                          <a href="#"><i class="far fa-user-circle fa-2x"></i></a>
                                          {{#if user}}
                                          <ul class="user-log">
                                              <li><a href="/userProfile">Profile</a></li>
                                              <li><a href="/auth/logout">Logout</a></li>
                                          </ul>
                                          {{else}}
                                          <ul class="user-log">
                                              <li><a href="/userLoginPage">Login</a></li>
                                              <li><a href="/userRegisterPage">Sign-Up</a></li>
                                          </ul>
                                          {{/if}}
                                      </li>
                                  </ul>
                              </div>
                          </nav>
                          <!-- The overlay -->
                          <div id="myNav" class="overlay text-left">
                              <!-- Overlay content -->
                              <div class="overlay-content">
                                  <div class="close-nav">
                                      <span onclick="closeNav()"><i class="fa fa-times"></i></span>
                                  </div>
                                  <div class="overlay-logo">
                                      <img src="/images/logo.png">
                                  </div>
                                  <div class="overlay-box">
                                      <i class="fa fa-search" aria-hidden="true"></i>
                                      <input type="text" name="" placeholder="Search...">
                                  </div>
                                  <hr>
                                  <a href="/category/action-adventure">Action and Adventure</a>
                                  <a href="/category/childrens-fiction">Children's Fiction</a>
                                  <a href="/category/comic-graphic">Comic and Graphic Novel</a>
                                  <a href="/category/drama">Drama</a>
                                  <a href="/category/fairytale">Fairy Tale</a>
                                  <a href="/category/fantasy-scifi">Fantasy and Sci-Fi</a>
                                  <a href="/category/horror-thriller">Horror and Thriller</a>
                                  <a href="/category/mystery">Mystery</a>
                                  <a href="/category/romance">Romance</a>
                                  <a href="/category/young-adult">Young Adult</a>
                                  <hr>
                                  {{#if user}}
                                  <a href="#"><i class="fas fa-sign-in-alt"></i><span></span> Profile</a>
                                  <a href="/auth/logout"><i class="fas fa-user-edit"></i><span></span> Logout</a>
                                  {{else}}
                                  <a href="#"><i class="fas fa-sign-in-alt"></i><span></span> Login</a>
                                  <a href="#"><i class="fas fa-user-edit"></i><span></span> Sign-Up</a>
                                  {{/if}}
                                  <hr>
                              </div>
                          </div>
                      </header>
                      <!--End Header-->

                      <!--Nav-->

                      <!--End Nav-->
                  </div>
                  <!--End Header-->
              </header>
          </div>
      </div>
  </div>

  <a href="#head" class="scrollUp">
      <i class="fa fa-chevron-up"></i>
  </a>