*{
    box-sizing: border-box;
}

header #header-margin{
    width: 100%;
    height: 250px;
}

header,section{
    overflow-x: hidden;
}

header a{
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
    color: #fff;
}



body{
    background: #ffd63b;

}
#stickyNavbar {
    background: #ffd63b;
    position: absolute; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    z-index: 2;
  }

/*Main Body*/

.card{
    overflow: hidden;
    border: 0 !important;
    border-radius: 20px !important;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.1);
    margin-bottom: 100px;
}

.img-left{
    width: 50%;
    background: #1E90FF;

    background-size: cover;
}

.card-body{
    padding: 2rem;
}

.title{
    margin-bottom: 2rem;
}

#navbarNav .active{
    text-decoration: underline;
}

.form-input{
    position: relative;
}

.form-input input{
    width: 100%;
    height: 30px;
    padding-left: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #bfbfbf;
    outline: none;
    background: transparent;
    text-align: left;
}

.medium.material-icons{
    position: absolute;
    padding-left: 0px;
    color: #bfbfbf;
    font-size: 20px;
}

.form-input span{
    position: absolute;
    padding-left: 10px;
    color: #bfbfbf;
}

.form-input input:focus, .form-input input:valid{
    border: none;
    border-bottom: 2px solid #3c3c3c;
}

.form-input input:focus::placeholder{
    color: #454b69;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
    background-color: #007bff !important;
    border: 0px;
  }
  
  .form-box button[type="submit"]{
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    background: #ffd63b;
    color: #3c3c3c;
    font-size: 90%;
    font-weight: bold;
    letter-spacing: .1rem;
    transition: 0.5s;
    padding: 12px;
    font-family: 'montserrat', sans-serif;
  }
  
  .form-box button[type="submit"]:hover{
    background: #3c3c3c;
    color: #ffd63b;
    outline: none;
  }