/*--Google-Fonts--*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');​
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville&display=swap');
/*--Google-Fonts*/

/*--Extra-Starts--*/

.scrollUp {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
    opacity: 0;
    pointer-events: none;
    background: #000;
    transition: 0.5s;
    position: fixed;
    bottom: 10px;
    right: 30px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
}

.scrollUp.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
    transform: translateY(-20px);
    text-decoration: none;
    z-index: 1;
}

#navbar-search-btn {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

#navbar-search-btn.search-btn {
    visibility: visible;
    transition: 0.3s;
    opacity: 1;
}

#up-btn a {
    float: right;
    display: block;
    text-decoration: none;
    text-align: center;
    margin-right: 50px;
}


.badge {
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 13px;

}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#lblCartCount {
    font-size: 10px;
    background: #ff0000;
    color: #fff;
    padding: 5px 8px;
    left: -13px;
    top: 7px;
    position: relative;
}

/*--Extra-Ends--*/

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;

}

.head {
    background: #ffd63b;
    color:#3e3a37;
}

.head h1{
    font-family: Bebas Neue;
    letter-spacing: 1px;
    font-size: 53px;
    color: white;
}

.head .btn-search{
    background-color: white;
    border-radius: 18px 18px 18px 18px;
    outline: none !important;
    box-shadow: none !important;
    
    font-family:  Montserrat;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
}

.head .btn-search:active{
    background-color: #44423a;
    color: white;
}

.head .form-control{
    background-color: white;
    border-radius: 18px 18px 18px 18px;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;

    font-family:  Montserrat;
    font-size: 16px;
}

.best-card{
    background-color: #ffd63b !important;
    border-radius: 15px 15px 15px 15px;
    box-shadow: -1px -1px 15px 2px rgba(170,170,170,0.72);
    margin-top: 150px !important;
    transition: transform .2s;
    
}

.best-card:hover{
    transform: scale(1.05); 
}

.best-card .right{
    margin-top: -150px !important;
    overflow: hidden !important;
    border-radius: 15px !important;

}

.book-cover-new {
    border-radius: 15px 15px 15px 15px !important;
    overflow: hidden !important;
    object-fit: cover !important;
 
}

.book-cover-new img{
    object-fit: cover !important;
    min-height: 400px !important;
    height: 100% !important;
    width: 100% !important;
    border-radius: 15px 15px 15px 15px !important;
    box-shadow: -1px -1px 15px 2px rgba(170,170,170,0.72);
  
}

.best-card .left h1{
    font-family: Poppins;
    font-weight: 800;
    color:  #3e3a37;
}

.best-card .left .btn-autor{
    background-color: rgb(243,243,243,0.5) ;
    border-radius: 5px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    color:  #3e3a37;
    text-transform: uppercase;
    padding: 0 !important; 
    padding: 0px 5px !important;
    box-shadow: none !important;

}

.best-card .left h2{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 800;
    color:  #3e3a37;
    text-transform: uppercase;
    padding: 0 !important; 
}

.best-card .left h3{
    font-family: Poppins;
    font-weight: 700;
    color:  #3e3a37;
}

.best-card .left h4{
    
    font-family:  Montserrat;
    font-size: 24px;
    font-weight: 700;
    color: #3e3a37;
    text-transform: uppercase;
    padding: 0 !important;
}

.best-card .left h5{
    
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    color:  #3e3a37;
    text-transform: uppercase;
    padding: 0 !important;
}

.best-card .left .btn-search{
    background-color: white;
    font-family:  Montserrat;
    font-size: 16px;
    font-weight: 700;
    color: #3e3a37 ;
    border-radius: 18px 18px 18px 18px !important;
}

#card-small{
    border: 1px solid white !important;
    box-shadow: none !important;
}

#card-small h3{
    font-family: Poppins;
    font-weight: 700;
    color:  #3e3a37;
}

/*********************/
/*********************/
/*********************/
/*********************/
.must-sec {
    background-color: #ffd63b !important;
}

.must-title-box h2 {
    font-family: Poppins;
    font-size: 40px;
    color: #3e3a37;
}

.must-title-box p{
    font-family: Poppins;
    color: white;
    font-size: 24px;
    margin-bottom: -15px !important;
}

.must-read{
    background-color: white !important;
    border-radius: 15px 15px 15px 15px;
    box-shadow: -1px -1px 15px 2px rgba(170,170,170,0.72);
    margin-top: 150px !important;
    transition: transform .2s;
    
}

.must-read:hover{
    transform: scale(1.05); 
}

.must-read .right{
   /* margin-top: -150px !important;
    overflow: hidden !important;*/
    border-radius: 15px !important;

}

.book-cover {
    border-radius: 15px 15px 15px 15px !important;
    object-fit: cover !important;
}

@media screen and (min-width: 0px){
    .book-cover img{
        margin-top: -150px !important;
        object-fit: cover !important;
        min-height: 500px !important;
        max-height: 500px !important;
        width: 100% !important;
        border-radius: 15px 15px 15px 15px !important;
        box-shadow: -1px -1px 15px 2px rgba(170,170,170,0.72);
    }
}

@media screen and (min-width: 800px){
    .book-cover img{
        margin-top: -150px !important;
        object-fit: cover !important;
        min-height: 400px !important;
        max-height: 400px !important;
        width: 100% !important;
        border-radius: 15px 15px 15px 15px !important;
        box-shadow: -1px -1px 15px 2px rgba(170,170,170,0.72);
    }
}


@media screen and (min-width: 1000px){
    .book-cover img{
        margin-top: -150px !important;
        object-fit: cover !important;
        min-height: 300px !important;
        max-height: 300px !important;
        width: 100% !important;
        border-radius: 15px 15px 15px 15px !important;
        box-shadow: -1px -1px 15px 2px rgba(170,170,170,0.72);
      
    }
}

@media screen and (min-width: 1400px){
    .book-cover img{
        margin-top: -150px !important;
        object-fit: cover !important;
        min-height: 400px !important;
        max-height: 400px !important;
        width: 100% !important;
        border-radius: 15px 15px 15px 15px !important;
        box-shadow: -1px -1px 15px 2px rgba(170,170,170,0.72);
      
    }
}


@media screen and (min-width: 1600px){
    .book-cover img{
        margin-top: -150px !important;
        object-fit: cover !important;
        min-height: 450px !important;
        max-height: 450px !important;
        width: 100% !important;
        border-radius: 15px 15px 15px 15px !important;
        box-shadow: -1px -1px 15px 2px rgba(170,170,170,0.72);
      
    }
}

.must-read .left h1{
    font-family: Poppins;
    font-weight: 800;
    color:  #3e3a37;
}

.must-read a{
    color: #FFFFFF;
    text-decoration: none;
}

.must-read .left .btn-autor{
    background-color: rgb(68,66,58) ;
    border-radius: 5px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    color:  white;
    text-transform: uppercase;
    padding: 0 !important; 
    padding: 0px 5px !important;
    box-shadow: none !important;
    text-overflow: ellipsis !important;
    white-space:nowrap !important;
    overflow: hidden !important;

}

.must-read .left h2{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    color:  #3e3a37;
    text-transform: uppercase;
    padding: 0 !important; 
    
}

.must-read .left h3{
    font-family: Poppins;
    font-size: 21px;
    font-weight: 700;
    color:  #3e3a37;
    text-overflow: ellipsis !important;
    white-space:nowrap !important;
    overflow: hidden !important;
}

.must-read .left h4{
    
    font-family:  Montserrat;
    font-size: 24px;
    font-weight: 700;
    color: #3e3a37;
    text-transform: uppercase;
    padding: 0 !important;
}

.must-read .left h5{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    color:  #3e3a37;
    text-transform: uppercase;
    padding: 0 !important;
}

.must-read .left .btn-add{
    background-color: #ffd63b;
    font-family:  Montserrat;
    font-size: 16px;
    font-weight: 700;
    color: #3e3a37 ;
    border-radius: 18px 18px 18px 18px !important;
    box-shadow: none !important;
}

.must-read .left .btn-add:active{
    background-color: #3e3a37;
    color: white ;
    box-shadow: none !important;
}
 
.space{
    height: 100px !important;
}


/*******************************/
/*******************************/
/*******************************/
.new-sec {
    background-color: white!important;
}

.new-title-box h2 {
    font-family: Poppins;
    font-size: 40px;
    color: #ffd63b;
}

.new-title-box p{
    font-family: Poppins;
    color: #3e3a37;
    font-size: 24px;
    margin-bottom: -15px !important;
}

.new-read{
    background-color: #ffd63b !important;
    border-radius: 15px 15px 15px 15px;
    box-shadow: -1px -1px 15px 2px rgba(170,170,170,0.72);
    margin-top: 150px !important;
    transition: transform .2s;
    
}

.new-read:hover{
    transform: scale(1.05); 
}

.new-read .right{
   /* margin-top: -150px !important;
    overflow: hidden !important;*/
    border-radius: 15px !important;

}

.book-cover-2 {
    border-radius: 15px 15px 15px 15px !important;
   
    object-fit: cover !important;
 
}

@media screen and (min-width: 0px){
    .book-cover-2 img{
        margin-top: -150px !important;
        object-fit: cover !important;
        min-height: 500px !important;
        max-height: 500px !important;
        width: 100% !important;
        border-radius: 15px 15px 15px 15px !important;
        box-shadow: -1px -1px 15px 2px rgba(170,170,170,0.72);
    }
}

@media screen and (min-width: 800px){
    .book-cover-2 img{
        margin-top: -150px !important;
        object-fit: cover !important;
        min-height: 400px !important;
        max-height: 400px !important;
        width: 100% !important;
        border-radius: 15px 15px 15px 15px !important;
        box-shadow: -1px -1px 15px 2px rgba(170,170,170,0.72);
    }
}

@media screen and (min-width: 1000px){
    .book-cover-2 img{
        margin-top: -150px !important;
        object-fit: cover !important;
        min-height: 300px !important;
        max-height: 300px !important;
        width: 100% !important;
        border-radius: 15px 15px 15px 15px !important;
        box-shadow: -1px -1px 15px 2px rgba(170,170,170,0.72);
      
    }
}

@media screen and (min-width: 1400px){
    .book-cover-2 img{
        margin-top: -150px !important;
        object-fit: cover !important;
        min-height: 400px !important;
        max-height: 400px !important;
        width: 100% !important;
        border-radius: 15px 15px 15px 15px !important;
        box-shadow: -1px -1px 15px 2px rgba(170,170,170,0.72);
      
    }
}


@media screen and (min-width: 1600px){
    .book-cover-2 img{
        margin-top: -150px !important;
        object-fit: cover !important;
        min-height: 450px !important;
        max-height: 450px !important;
        width: 100% !important;
        border-radius: 15px 15px 15px 15px !important;
        box-shadow: -1px -1px 15px 2px rgba(170,170,170,0.72);
      
    }
}

.new-read .left h1{
    font-family: Poppins;
    font-weight: 800;
    color:  #3e3a37;
}

.new-read a{
    color: #FFFFFF;
    text-decoration: none;
}

.new-read .left .btn-autor{
    background-color: rgb(68,66,58) ;
    border-radius: 5px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    color:  white;
    text-transform: uppercase;
    padding: 0 !important; 
    padding: 0px 5px !important;
    box-shadow: none !important;
    text-overflow: ellipsis !important;
    white-space:nowrap !important;
    overflow: hidden !important;

}

.new-read .left h2{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    color:  #3e3a37;
    text-transform: uppercase;
    padding: 0 !important;    
}

.new-read .left h3{
    font-family: Poppins;
    font-size: 21px;
    font-weight: 700;
    color:  #3e3a37;
    text-overflow: ellipsis !important;
    white-space:nowrap !important;
    overflow: hidden !important;
}

.new-read .left h4{
    
    font-family:  Montserrat;
    font-size: 24px;
    font-weight: 700;
    color: #3e3a37;
    text-transform: uppercase;
    padding: 0 !important;
}

.new-read .left h5{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    color:  #3e3a37;
    text-transform: uppercase;
    padding: 0 !important;
}

.new-read .left .btn-add{
    background-color: #3e3a37;
    font-family:  Montserrat;
    font-size: 16px;
    font-weight: 700;
    color:  white;
    border-radius: 18px 18px 18px 18px !important;
    box-shadow: none !important;
}

.new-read .left .btn-add:active{
    background-color: #3e3a37;
    color: white ;
    box-shadow: none !important;
}

.mega-menu {
	padding: 0px 0px ! important;
	width: 540px;
    border-radius: 0;
    margin-top: 0px;
    opacity: 0;
    visibility: hidden;
    max-height: 75vh !important;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.mega-menu li {
    display: inline-block;
    font-size: 0.94rem;
    padding: 3px 0px;
    background-color: white;
}

.mega-menu li.mega-menu-column {
    margin-right: 20px;
    width: 150px;
   
}

.mega-menu .nav-header {
    padding: 0 !important;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ddd;
}


.categ-title-box h2 {
    font-family: Poppins;
    font-size: 40px;
    color: white;
}

.categ-title-box p{
    font-family: Poppins;
    color: #3e3a37;
    font-size: 24px;
    margin-bottom: -15px !important;
}
/*******************************/
/*******************************/
/**********VIEW BOOK************/


.stars{
    color: white !important;
}

.tag-title{
    font-size: 12px !important;
}

.btn-categ{
    background-color: #3e3a37;
    border-radius: 15px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    color:  #ffd63b;
    text-transform: uppercase;
    padding: 0px 8px !important;
    box-shadow: none !important;
}

.btn-categ:hover{
    color:  #ffd63b;
}

.tag-price{
    font-size: 18px !important;
}

/*******************************/
/*******************************/
/*******************************/


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 100px;
    background: #ffd63b;
    box-sizing: border-box;
    transition: .5s;
    z-index: 2;
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav.black {
    background: rgba(255, 243, 243, 0.99);
    height: 60px;
    padding: 5px 80px;
    box-shadow: 0px 8px 16px 0px rgba(62, 58, 55, 0.3);
}

nav .logo {
    float: left;
}

nav .logo {
    margin-top: 5px !important;
    margin-left: 20px;
    width: 180px;
    transition: .5s;
}
/*
nav.black .logo img {
    width: 180px;
    margin-top: 10px;
}
*/
nav ul { 
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
}

nav ul li {
    list-style: none;
    display: inline-block;
    
}

nav ul li a {
    line-height: 80px;
    color: #3e3a37;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 20px;
    font-family: Montserrat;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
  
}


.btn-login{
    background-color: #3e3a37;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px !important;
    color: white;
    border-radius: 18px !important;
    margin-TOP: -6px !important ;
    box-shadow: none !important;
}

.btn-login:hover{
    color: #ffd63b;
}
.btn-login:active{
    color: #ffd63b;
    box-shadow: none !important;
}

nav.black ul li a {
    color: #3e3a37;
    line-height: 60px;
}

nav ul li a:hover {
    color: #7e7c7c;
    text-decoration: none;
}

nav ul ul li a:hover {
    box-shadow: none;
    color: #ffd63b;
}

nav ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid #ffd63b;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in;
    display: block;
    border-radius: 5px;
    background: whitesmoke;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);

}

nav.black ul ul {
    top: 50px !important;
    border-top: 3px solid #ffd63b;
}

nav ul ul ul {
    border-top: none;
}

nav ul li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;


}

nav.black ul li:hover>ul {
    top: 60px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    
    margin: 0px;
    width: 100%;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul ul.user-log li {
    width: 100px;
}

nav ul ul.search-box li {
    width: 250px;
}

nav ul li.fa-search {
    font-size: 20px;
    position: absolute;
    width: 20%;
}

nav ul ul.search-box input {
    border: none;
    outline: none;
    padding-left: 10px;
    border-radius: 3px;
    height: 40px;
    width: 80%;
}

nav ul ul li a {
    font-size: 13px;
    line-height: 40px;
    color: #3e3a37;
}

nav ul li a:hover {
    color: #7e7c7c;
}

nav.black ul ul li a {
    font-size: 13px;
    line-height: 40px;
    color: #000;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 150px;
}

/*--Search-Bar--*/

.search-form-wrapper {
    display: none;
    position: absolute;
    box-shadow: rgba(0, 0, 0, .2);
}

.search-form-wrapper .input-group {
    width: 350px;
    height: 50px;
    background-color: #3e3a37 !important;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    outline: none !important;
    box-shadow: none !important;
}

nav.black .search-form-wrapper .input-group {
    background: #ffd63b !important;
    
}

.input-group>input {
    flex: 1;
    height: 35px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: Montserrat;
    background-color: transparent !important;
    padding-left: 20px;
    color: #3e3a37 !important;
}

.input-group>input::placeholder {
    color: #DCDCDC !important;
}

.search-form-wrapper .input-group>i,
.search-form-wrapper .input-group>span i {
    font-size: 18px;
    color: whitesmoke;
}

.search-form-wrapper .input-group>i:hover,
.search-form-wrapper .input-group>span i:hover {
    color: #fff;
    cursor: pointer;
}

.search-form-wrapper.open {
    display: block;
}

/*--Search-Bar-End--*/

.responsive-bar i {
    float: right;
    color: #44423a;
    margin: 0;
    padding: 0 10px;
    line-height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
}

.responsive-bar ul {
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
}

.responsive-bar ul li {
    list-style: none;
    display: inline-block;
}

.responsive-bar ul li a {
    line-height: 80px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}

.responsive-bar {
    display: none;
    background-color: #ffd63b;
}

@media (max-width: 1020px) {
    .head-title h1 {
        font-size: 35px;
    }

    .head-title h2 {
        font-size: 25px;
    }

    .responsive-bar {
        display: block;
        width: 100%;
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        padding: 5px 30px;
        box-sizing: border-box;
        z-index: 3;
    }

    .responsive-bar .logo img {
  
        float: left;
        width: 180px;
    }

    nav {
        background: white;
        height: 60px;
        padding: 0;
    }

    nav.black {
        background: white;
        height: 60px;
        padding: 0;
        z-index: 2;
    }

    nav .logo {
        display: none;
    }

    nav ul {
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        float: none;
        display: none;
        background: rgba(0, 0, 0, .9);
    }

    nav ul.active {
        display: block;
    }

    nav ul li {
        width: 100%;
    }

    nav ul li a {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        line-height: 30px !important;
        color: #fff;
    }
}

@media only screen and (max-width: 700px) {

    .head-title h1 {
        font-size: 30px;
    }

    .head-title h2 {
        font-size: 25px;
    }


}

@media only screen and (max-width: 500px) {

    .head-title h1 {
        font-size: 30px;
    }

    .head-title h2 {
        font-size: 25px;
    }
}

@media only screen and (min-width: 400px) {

    .head-title h1 {
        font-size: 30px;
    }

    .head-title h2 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 399px) {

    .head-title h1 {
        font-size: 25px;
    }

    .head-title h2 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 300px) {

    .head-title h1 {
        font-size: 22px;
    }

    .head-title h2 {
        font-size: 18px;
    }
}

/*--Side Bar--*/

/*--Carousel--*/

.ad-box h2 {
    font-weight: bolder;
    font-family: 'Piedra', cursive;
    letter-spacing: 2px;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: #ffd63b;
    /* Black fallback color */
    background-color: #ffd63b;
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */

}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: left;
    padding-right: 50px;
    /* Left text/links */
    margin-top: 30px;
    margin-left: 20px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
    z-index: 3;
}

.overlay-content img {
    height: 40px;
    float: left;
    margin-bottom: 20px;
}

.close-nav i {
    float: right;
    color: #3e3a37;
    font-size: 24px;
    cursor: pointer;
}

/*--Search-Box-In-Overlay*/

.overlay-box {
    width: 100%;
    height: 40px;
    background-color: whitesmoke;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.overlay-box>i {
    font-size: 18px;
    color: #3e3a37;
}

.overlay-box>input {
    flex: 1;
    height: 30px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
    padding-left: 20px;
}

/* The navigation links inside the overlay */
.overlay a {
    font-family: Montserrat;
    font-weight: bold;
    padding: 8px;
    text-decoration: none;
    font-size: 16px;
    color: #3e3a37;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
    color: white;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media screen and (min-width: 1021px) {
    .overlay {
        display: none;
    }
}

/*--On Sale Product--*/

.title-box {
    font-family: Poppins;
    font-weight: 700;
    color: #44423a;
   
}

.title-box h2 {
    font-size: 40px;
    white-space: nowrap;
}

.title-box p {
    font-family: Poppins;
   
    color: #ffd63b;
    font-size: 24px;
    margin-bottom: -15px !important;
}

/*--Product Top CSS*/
.product-top img {
    min-height: 400px;
    max-height: 400px;
    min-width: 100%;
    max-width: 100%;
    box-shadow: 0px 0px 30px -2px rgba(68,66,58,0.91);
    border-radius: 18px 18px 18px 18px;
    transition: 0.5s;
}


/*
.overlay-right {
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 120px;
}

.overlay-right .fa {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.overlay-right .btn-secondary {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.product-top:hover .overlay-right {
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}

.product-top button .fa-eye,
.product-top button .fa-heart-o,
.product-top button .fa-shopping-cart {
    transition: 0.4s;
}

.product-top button .fa-eye:hover,
.product-top button .fa-heart-o:hover,
.product-top button .fa-shopping-cart:hover {
    border-radius: 10px;
    transition: 0.4s;
    color: whitesmoke;
    background-color: royalblue;
}
*/
/*--Product Bottom--*/

.product-bottom .fa {
    color: #ffd63b;
    font-size: 10px;
}

.product-bottom h3 {
    font-family: Poppins;
    color: #3e3a37;
    font-size: 24px;
    line-height: 1em;
    height: 50px;
    overflow: hidden;
    white-space:pre-line;
    text-overflow: ellipsis;
    width: 100%;
}

.product-bottom .btn-price{
    background-color: #ffd63b ;
    border-radius: 10px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    color:  #3e3a37;
    text-transform: uppercase;
    padding: 0px 8px !important;
    box-shadow: none !important;
}


.product-bottom .btn-autor{
    background-color: #ffd63b ;
    border-radius: 15px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    color:  #3e3a37;
    text-transform: uppercase;
    padding: 0px 8px !important;
    box-shadow: none !important;
}

/*--New Arrivals*/

.new-products {
    margin: 50px 0;
}

/*--Website Features--*/

.website-features {
    margin: 60px 0;
}

.website-features img {
    width: 20%;
}

.feature-text {
    margin-top: 10px;
    float: right;
    width: 80%;
    padding-left: 20px;
}

.feature-box {
    padding-top: 20px;
}

/*--Footer--*/

.footer {
    margin-top: 50px;
    background: #3e3a37;
    color: #fff;
}

.footer h3 {
    font-family:  Poppins;
    font-size: 18px;
}

.footer p {
    font-size: 14px;
}

.footer a {
    font-family: Montserrat;
    font-size: 12px;
    text-decoration: none !important;
    color: white;
}

.btn-contact-us , .btn-subscribe {
    font-weight: Montserrat;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    border: 2px solid white;
    box-shadow: none !important;
}

.btn-contact-us:hover , .btn-subscribe:hover {
    color: white;
    text-decoration: none;
}

.btn-contact-us:active , .btn-subscribe:active {
    color:#3e3a37;
    background-color: white;
    text-decoration: none;
}

.copyright {
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
    padding: 20px;
}

.fa-heart-o {
    color: red;
    font-size: 15px;
}

.footer hr {
    margin-top: 10px;
    background-color: #ccc;
}

.footer .row .fa {
    padding-right: 20px;
    font-size: 15px;
}


/*--Product Description + PDF view*/

.pdf-frame {
    border: .75rem solid #3f87da;
}


.single-product {
    margin-top: 70px;
}

.single-product img {
    min-height: 500px;
    max-height: 500px;
    min-width: 350px;
    max-width: 350px;
    transition: 0.5s;
}

.new-arrival {
    background: green;
    width: 50px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}

.col-md-7 h2 {
    color: #555;
}

.single-product .fa {
    color: yellow;
}

.single-product .price {
    color: royalblue;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}

.single-product input {
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}

.single-product .btn-primary {
    background: royalblue !important;
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
    border: none;
    box-shadow: none !important;
}

.product-description h6 {
    margin-top: 50px;
    color: royalblue;
}

.product-description p {
    margin-top: 30px;
}

.product-description hr {
    margin-bottom: 50px;
}

/*--Pagination--*/

.page-nav ul li.disabled a.active {
    color: #fff;
}


/******************************************/
/**************CART ITEM*******************/
/******************************************/
/******************************************/

.a{
    background-color: #525659;
}

.min-h{
    min-height: 70vh !important;
}

.cart h1, .cart h1 a{
    font-family: Montserrat;
    font-size: 20px;
    color: #3e3a37;
    font-weight: 500;
    text-decoration: none !important;
}

.cart h1 a{
    color: #7e7c7c;
}

.cart .top-title{
    border-bottom: 1px solid rgba(128, 128, 128, 0.486);
}

.cart .top-title h5{
    font-family:  Montserrat;
    font-size: 14px;
    color: #3e3a37;
    text-transform: uppercase !important;
}

.cart-item{
    background-color: #ffd63b;;
    border-radius: 18px;
}

.cart-item img{
    height: auto !important;
    border-radius: 16px;
    margin-top: -40px !important;
}

.cart-item h2, #os-cart h2{
    font-family:  Poppins;
    font-size: 19px;
    color: #3e3a37;
}

.cart-item h3,#os-cart h3{
    font-family: Poppins;
    font-size: 18px;
    color: #3e3a37;
    text-transform: uppercase;
}

.cart-item h4 #os-cart h4{
    font-family: Montserrat;
    font-size: 16px;
    color: #3e3a37;
}

.cart-item button, #os-cart .btn{
    background-color: white;
    border-radius: 5px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    color:  #3e3a37;
    text-transform: uppercase;
    padding: 0 !important; 
    padding: 0px 5px !important;
    box-shadow: none !important;
}

.cart-item i{
    text-decoration: none !important;
    color: #3e3a37;
}

.check-out{
    border-top: 1px solid rgba(128, 128, 128, 0.39);
    background-color:WHITE;
}

.check-out h4{
    font: Montserrat;   
    font-weight: 300;
    font-size: 14px;
}

.check-out h3{
    font: Montserrat;   
    font-weight: bold;
    font-size: 24px;
}

.check-out .btn{
    background-color:#3e3a37;
    outline: none;
    box-shadow: none;
    border-radius: 5px;
    color: white;
    font-family:  Montserrat;
    font-weight: bold;
    font-size: 14px;
}

.os-check-out{
    border-radius: 8px;
    background-color: #ffd63b
}

.os-check-out h4{
    font-family: Poppins;
    font-size: 18px;
    color: #3e3a37;
 
}

.os-total{
    border-bottom:5px dashed #3e3a37 ;
}
.os-total p{
    font-family: Montserrat;
    font-size: 13px;
    color: #3e3a37;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center;
}

.os-total h3{
    font-family: Poppins;
    font-size: 30px;
    font-weight: bold;
    color: #3e3a37;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center;
}

.top-os{
    border-bottom: 5px solid #3e3a37;
}

.top-os p{
    font-size:12px;
    text-align: center;
}

.os-check-out h5{
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    color: #3e3a37;
    text-transform: uppercase;
    text-align: center;
}
#os-cart{
    border-radius: 0px;
    border-bottom: 1px solid gray;
}

#os-cart .btn{
    background-color: #3e3a37;
    color: white;
}

#form1, #form2  {
    display:none;
}

#payMeth .btn-payment {
    border-radius: 8px;
    background-color: #3e3a37c2;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.creditCardMethod p{
    font-family: Montserrat;
    font-size: 14px;
}

#payMeth .form-control{
    border: 1px solid #3e3a37;
    box-shadow: none !important;
    border-radius: 15px;
    background-color: transparent;
}
#payMeth .btn-checkout{
    background-color: #3e3a37;
    color: white;
    font-weight: 500;
    border-radius: 18px;
}
/*Add to Cart */


/*.card .card-body .payment-method form #gCashMethod{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in;
    display: block;
}*/

/*Customer Profile*/

.profile{
    background-color: #ffd63b;
    min-height: 200px;
}

.profile-div{
    margin-top: -100px !important;
}
   
.profile-div{
     font-family: Poppins;
     font-weight: bolder;
     color: #3e3a37;
 }

.customer-profile img {
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.customer-details h5 {
    font-weight: 550;
}

.customer-details p {
    font-size: 14px;
}

.customer-details i {
    font-size: 25px;
}

.customer-details:hover {
    color: #ffd63b;
}

.card-1,
.card-2 {
    min-height: 657px;
    max-height: auto;
}

.form-input {
    position: relative;
}

.form-input input {
    width: 100%;
    height: 45px;
    padding-left: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid #00000020;
    border-radius: 50px;
    outline: none;
    background: transparent;
}

.form-input span {
    position: absolute;
    top: 10px;
    padding-left: 15px;
    color: #ffd63b;
}

.form-input input::placeholder {
    color: #000;
    padding-left: 0px;
}

.form-input input:focus,
.form-input input:valid {
    border: 2px solid #ffd63b;
}

.form-input input:focus::placeholder {
    color: #454b69;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #ffd63b !important;
    border: 0px;
}

.form-box button[type="submit"] {
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    background: #ffd63b;
    color: #fff;
    font-size: 90%;
    font-weight: bold;
    letter-spacing: .1rem;
    transition: 0.5s;
    padding: 12px;
}

.form-box button[type="submit"]:hover {
    background: #ffd63b;
}

.forget-link,
.login-link {
    color: #ffd63b;
    font-weight: bold;
}

.forget-link:hover,
.login-link:hover {
    color: #ffd63b;
    text-decoration: none;
}

.form-box .enable-btn {
    color: #ffd63b;
}

.info-update {
    display: none;
}

.enable-btn:hover {
    color: #ffd63b;
    transition: 0.3s;
}

.customer-order-card,
.customer-password-card {
    display: none;
}

.card-2 img {
    min-width: 120px;
    max-width: 120px;
    min-height: 150px;
    max-height: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.card-2 img:hover {
    border-radius: 10px;
}

.card-2 h6 {
    font-weight: bold;
}

.my-books-tab {
    border-right: 1px solid #ccc;
}

#deact{
    background-color: #ffd63b !important;
    font-weight: bold;
    text-decoration: none !important;
    color: #3e3a37;
    border-radius: 18px;
}


/* Change background color of buttons on hover */
p.deactivation-btn:hover,
.my-books-tab:hover,
.my-wishlists-tab:hover,
.my-books-tab h4:hover,
.my-wishlists-tab h4:hover {
    color: #ffd63b ;
    transition: 0.4s;
}

.tab .active {
    color: #ffd63b;
}

.side-tab .active {
    color: #ffd63b;
}

/* Style the tab content */
#my-wishlists {
    display: none;
}

.modal-header h3{
    font-size: 20px;
}

.modal-footer .cancel-btn {
    border-style: none;
    background-color: #fff !important;
}

.modal-footer .save-btn {
    padding: 3px 20px;
    border-radius: 5px;
    background-color: #ffd63b;
    color: whitesmoke;
    transition: 0.4s;
}

.modal-footer .file-btn{
    padding: 3px 15px;
    color: whitesmoke;
    background-color: slategray;
    border-radius: 5px;
    transition: 0.4s;
}

.modal-footer .file-btn:hover{
    background-color: grey;
    transition: 0.4s;
}

.modal-footer .save-btn:hover {
    background-color: #ffd63b;
    transition: 0.4s;
}

.modal-footer .cancel-btn:hover {
    color: #ffd63b;
}



#img-book-view{
    border-radius: 18px !important;
}

.pdf-view-book{
    overflow: hidden !important;
    border-radius: 18px;
}

.btn-autor-pdf{
    background-color: #3e3a37 ;
    border-radius: 5px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    color:  white;
    text-transform: uppercase;
    padding: 0 !important; 
    padding: 0px 5px !important;
    box-shadow: none !important;

}


.pdf-view-book-title h2{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    color:  #3e3a37;
    text-transform: uppercase;
    padding: 0 !important;    
}

.pdf-view-book-title h3{
    font-family: Poppins;
    font-size: 21px;
    font-weight: 700;
    color:  #3e3a37;
    text-overflow: ellipsis !important;
    white-space:nowrap !important;
    overflow: hidden !important;
}

.pdf-view-book-cov{
    border-radius: 18px;
}

.pdf-view {
    height: 800px;
}

.b-conf{
    background-color: #ffd63b;
}
.confmes-div{
    background-color: white;
    border-radius: 15px;
    box-shadow: -1px -1px 15px 2px rgba(170,170,170,0.72);
}

.confmes-div h1{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    color:  #3e3a37;
}

.btn-library{
        background-color: #3e3a37;
        color: white ;
        box-shadow: none !important;
        border-radius: 18px;
        font-weight: Bold;
        font-family: Montserrat;
}
.b{
    background-color: pink;
}

.c{
    background-color: aliceblue;
}
