/*--Google-Fonts--*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');

/*--Google-Fonts*/

/*--Extra-Starts--*/

.scrollUp {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #fff;
    opacity: 0;
    pointer-events: none;
    background: #000;
    transition: 0.5s;
    position: fixed;
    bottom: 10px;
    right: 30px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
}

.scrollUp.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
    transform: translateY(-20px);
    text-decoration: none;
    z-index: 1;
}

#navbar-search-btn {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

#navbar-search-btn.search-btn {
    visibility: visible;
    transition: 0.3s;
    opacity: 1;
}

#up-btn a {
    float: right;
    display: block;
    text-decoration: none;
    text-align: center;
    margin-right: 50px;
}

.container-fluid.action_adventure {
    background: #808080;
}

.container-fluid.children_fic {
    background: #1E90FF;
}

.container-fluid.comic_graphic {
    background: #FF4500;
}

.container-fluid.drama {
    background: #D3D3D3;
}

.container-fluid.fairytale {
    background: #32CD32;
}

.container-fluid.fantasy_scifi {
    background: #B0C4DE;
}

.container-fluid.horror_thriller {
    background: #8B0000;
}

.container-fluid.mystery {
    background: #000000;
}

.container-fluid.romance {
    background: #FFB6C1;
}

.container-fluid.young_adult {
    background: #4B0082;
}

.badge {
    padding-left: 3px;
    padding-right: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 10px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 5px 8px;
    left: -8px;
    top: 9px;
    position: relative;
}

/*--Extra-Ends--*/

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.head-title {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: royalblue;
    background-image: url('../images/main-bg2.gif');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.head-title h1 {
    position: absolute;
    text-transform: uppercase;
    text-align: justify;
    top: 20%;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Paytone One', sans-serif;
    color: whitesmoke;
}

.head-title h2 {
    position: absolute;
    text-align: justify;
    top: 30%;
    font-size: 30px;
    font-family: 'Paytone One', sans-serif;
    color: whitesmoke;
}

.head-box {
    width: 450px;
    height: 50px;
    background-color: whitesmoke;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.head-box>i {
    font-size: 18px;
    color: royalblue;
}

.head-box>i:hover {
    color: dodgerblue;
    cursor: pointer;
}

.head-box>input {
    flex: 1;
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    padding-left: 20px;
}

.head-title .down-btn {
    position: absolute;
    text-align: justify;
    top: 70%;
    font-size: 45px;
    color: whitesmoke;
}

.head-title .down-btn:hover {
    color: #fff;
}

/*--Arrow Animation*/
.arrow {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-arrow {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 5px;
    transform: translate(-50%, 50%);
}

.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid lightgrey;
    border-right: 5px solid lightgrey;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.section-arrow span {
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 4px solid #06A8FF;
    border-right: 4px solid #06A8FF;
    transform: rotate(45deg);
    margin: -15px -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2),
.section-arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3),
.section-arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/*--Arrow Animation Ends--*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 5px 100px;
    background: royalblue;
    box-sizing: border-box;
    transition: .5s;
    z-index: 2;
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav.black {
    background: rgba(0, 0, 0, .99);
    height: 60px;
    padding: 5px 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}

nav .logo {
    float: left;
}

nav .logo img {
    margin-top: 20px;
    margin-left: 20px;
    width: 150px;
    transition: .5s;
}

nav.black .logo img {
    width: 130px;
    margin-top: 10px;
}

nav ul {
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    line-height: 80px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}

nav.black ul li a {
    color: #fff;
    line-height: 60px;
}

nav ul li a:hover {
    color: #fff;
    text-decoration: none;
}

nav ul ul li a:hover {
    box-shadow: none;
    color: hotpink;
}

nav ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid deeppink;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in;
    display: block;
    border-radius: 5px;
    background: whitesmoke;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}

nav.black ul ul {
    top: 50px !important;
    border-top: 3px solid cyan;
}

nav ul ul ul {
    border-top: none;
}

nav ul li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav.black ul li:hover>ul {
    top: 60px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    margin: 0px;
    width: 250px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul ul.user-log li {
    width: 100px;
}

nav ul ul.search-box li {
    width: 250px;
}

nav ul li.fa-search {
    font-size: 20px;
    position: absolute;
    width: 20%;
}

nav ul ul.search-box input {
    border: none;
    outline: none;
    padding-left: 10px;
    border-radius: 3px;
    height: 40px;
    width: 80%;
}

nav ul ul li a {
    font-size: 13px;
    line-height: 40px;
    color: deeppink;
}

nav.black ul ul li a {
    font-size: 13px;
    line-height: 40px;
    color: #000;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 150px;
}

/*--Search-Bar--*/

.search-form-wrapper {
    display: none;
    position: absolute;
    box-shadow: rgba(0, 0, 0, .2);
}

.search-form-wrapper .input-group {
    width: 350px;
    height: 50px;
    background-color: royalblue !important;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

nav.black .search-form-wrapper .input-group {
    background: #000 !important;
}

.input-group>input {
    flex: 1;
    height: 35px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background-color: transparent !important;
    padding-left: 20px;
    color: #fff !important;
}

.input-group>input::placeholder {
    color: #DCDCDC !important;
}

.search-form-wrapper .input-group>i,
.search-form-wrapper .input-group>span i {
    font-size: 18px;
    color: whitesmoke;
}

.search-form-wrapper .input-group>i:hover,
.search-form-wrapper .input-group>span i:hover {
    color: #fff;
    cursor: pointer;
}

.search-form-wrapper.open {
    display: block;
}

/*--Search-Bar-End--*/

.responsive-bar i {
    float: right;
    color: whitesmoke;
    margin: 0;
    padding: 0 10px;
    line-height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
}

.responsive-bar ul {
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
}

.responsive-bar ul li {
    list-style: none;
    display: inline-block;
}

.responsive-bar ul li a {
    line-height: 80px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}

.responsive-bar {
    display: none;
}

@media (max-width: 1020px) {
    .head-title h1 {
        font-size: 35px;
    }

    .head-title h2 {
        font-size: 25px;
    }

    .responsive-bar {
        display: block;
        width: 100%;
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        padding: 5px 30px;
        box-sizing: border-box;
        z-index: 3;
    }

    .responsive-bar .logo img {
        margin-top: 10px;
        float: left;
        height: 30px;
    }

    nav {
        background: rgba(0, 0, 0, .99);
        height: 60px;
        padding: 0;
    }

    nav.black {
        background: rgba(0, 0, 0, .99);
        height: 60px;
        padding: 0;
        z-index: 2;
    }

    nav .logo {
        display: none;
    }

    nav ul {
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        float: none;
        display: none;
        background: rgba(0, 0, 0, .9);
    }

    nav ul.active {
        display: block;
    }

    nav ul li {
        width: 100%;
    }

    nav ul li a {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        line-height: 30px !important;
        color: #fff;
    }
}

@media only screen and (max-width: 700px) {

    .head-title h1 {
        font-size: 30px;
    }

    .head-title h2 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 500px) {

    .head-title h1 {
        font-size: 30px;
    }

    .head-title h2 {
        font-size: 25px;
    }
}

@media only screen and (min-width: 400px) {

    .head-title h1 {
        font-size: 30px;
    }

    .head-title h2 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 399px) {

    .head-title h1 {
        font-size: 25px;
    }

    .head-title h2 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 300px) {

    .head-title h1 {
        font-size: 22px;
    }

    .head-title h2 {
        font-size: 18px;
    }
}

/*--Side Bar--*/

/*--Carousel--*/

.ad-box h2 {
    font-weight: bolder;
    font-family: 'Piedra', cursive;
    letter-spacing: 2px;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: #000;
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: left;
    padding-right: 50px;
    /* Left text/links */
    margin-top: 30px;
    margin-left: 20px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
    z-index: 3;
}

.overlay-content img {
    height: 40px;
    float: left;
    margin-bottom: 20px;
}

.close-nav i {
    float: right;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

/*--Search-Box-In-Overlay*/

.overlay-box {
    width: 100%;
    height: 40px;
    background-color: whitesmoke;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.overlay-box>i {
    font-size: 18px;
    color: royalblue;
}

.overlay-box>input {
    flex: 1;
    height: 30px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    padding-left: 20px;
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 16px;
    color: #DCDCDC;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media screen and (min-width: 1021px) {
    .overlay {
        display: none;
    }
}

/*--On Sale Product--*/

.title-box {
    background: royalblue;
    color: #fff;
    width: 250px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
}

.title-box h2 {
    font-size: 24px;
}

.title-box::after {
    content: '';
    border-top: 40px solid royalblue;
    border-right: 90px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 240px;
}

/*--Product Top CSS*/

.product-top img {
    min-height: 340px;
    max-height: 340px;
    min-width: 100%;
    max-width: 100%;
    transition: 0.5s;
}

.product-top img:hover {
    transform: scale(1.1);
}

.overlay-right {
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 120px;
}

.overlay-right .fa {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.overlay-right .btn-secondary {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.product-top:hover .overlay-right {
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}

.product-top button .fa-eye,
.product-top button .fa-heart-o,
.product-top button .fa-shopping-cart {
    transition: 0.4s;
}

.product-top button .fa-eye:hover,
.product-top button .fa-heart-o:hover,
.product-top button .fa-shopping-cart:hover {
    border-radius: 10px;
    transition: 0.4s;
    color: whitesmoke;
    background-color: royalblue;
}

/*--Product Bottom--*/

.product-bottom .fa {
    color: yellow;
    font-size: 10px;
}

.product-bottom h3 {
    font-size: 20px;
    font-weight: bold;
}

.product-bottom h5 {
    font-size: 15px;
    padding-bottom: 10px;
}

/*--New Arrivals*/

.new-products {
    margin: 50px 0;
}

/*--Website Features--*/

.website-features {
    margin: 60px 0;
}

.website-features img {
    width: 20%;
}

.feature-text {
    margin-top: 10px;
    float: right;
    width: 80%;
    padding-left: 20px;
}

.feature-box {
    padding-top: 20px;
}

/*--Footer--*/

.footer {
    margin-top: 50px;
    background: #000;
    color: #fff;
}

.footer h1 {
    font-size: 15px;
    margin: 25px 0;
}

.footer p {
    font-size: 12px;
}

.copyright {
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
    padding: 20px;
}

.fa-heart-o {
    color: red;
    font-size: 15px;
}

.footer hr {
    margin-top: 10px;
    background-color: #ccc;
}

.footer .row .fa {
    padding-right: 20px;
    font-size: 15px;
}

/*--Product Description + PDF view*/
.pdf-view {
    margin-top: 50px;
    margin-bottom: 70px;
    height: 800px;
}
.pdf-frame {
    border: .75rem solid #3f87da;
}


.single-product {
    margin-top: 70px;
}

.single-product img {
    min-height: 500px;
    max-height: 500px;
    min-width: 350px;
    max-width: 350px;
    transition: 0.5s;
}

.new-arrival {
    background: green;
    width: 50px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}

.col-md-7 h2 {
    color: #555;
}

.single-product .fa {
    color: yellow;
}

.single-product .price {
    color: royalblue;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}

.single-product input {
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}

.single-product .btn-primary {
    background: royalblue !important;
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
    border: none;
    box-shadow: none !important;
}

.product-description h6 {
    margin-top: 50px;
    color: royalblue;
}

.product-description p {
    margin-top: 30px;
}

.product-description hr {
    margin-bottom: 50px;
}

/*--Pagination--*/

.page-nav ul li.disabled a.active {
    color: #fff;
}

/*--Slider--*/

.slide-box {
    width: 250px;
    background-color: #000;
    overflow: hidden;
}

.slide-box a,
.slide-box span {
    color: #fff;
}

.slide-img {
    height: 340px;
    position: relative;
}

.slide-img img {
    min-height: 340px;
    max-height: 340px;
    min-width: 100%;
    max-width: 100%;
    transition: 0.5s;
    object-fit: cover;
    box-sizing: border-box;
}

.detail-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.type {
    display: flex;
    flex-direction: column;
}

.type a {
    color: #fff;
    margin: 5px 0;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 8px;
}

.price {
    color: #333333;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}

.card-overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(92, 95, 236, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-btn {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #252525 !important;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.buy-btn:hover {
    color: #fff !important;
    background-color: #f15fa3;
    transition: all ease 0.3s;
}

.card-overlay {
    visibility: hidden;
}

.slide-img:hover .card-overlay {
    visibility: visible;
    animation: fade 0.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*--Horizontal--*/

.horizontal-slider {
    display: block;
    width: 100%;
    overflow-x: scroll;
    margin-top: 20px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.horizontal-slider {
    -ms-overflow-style: none;
}

.slider-container {
    display: block;
    white-space: nowrap;
}

.item {
    display: inline-block;
    margin-right: 10px;
}

/*--Flip-Card*/

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    min-height: 300px;
    max-height: 300px;
    min-width: 200px;
    max-width: 200px;
    margin: 20px 10px;
    border: none;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    min-height: 280px;
    max-height: 280px;
    min-width: 100%;
    max-width: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.flip-card-back {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-front-more {
    position: absolute;
    min-height: 280px;
    max-height: 280px;
    min-width: 100%;
    max-width: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-front-more h3 {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px 0;
    color: #fff;
}

.flip-card-back .browse-btn {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #252525 !important;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.browse-btn:hover {
    color: #fff !important;
    background-color: #f15fa3;
    transition: all ease 0.3s;
}

.flip-card-front img {
    min-height: 280px;
    max-height: 280px;
    min-width: 100%;
    max-width: 100%;
}

.flip-card-front h3 {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px 0;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: royalblue;
    color: white;
    transform: rotateY(180deg);
}

/*Add to Cart */

.cart-list .card {
    border: none;
    box-shadow: 0 0 0.875rem 0 rgba(33, 37, 41, 0.5);
    display: flex;
    width: 100%;
    overflow-x: auto;
}

.cart-card {
    justify-content: left;
    color: #000;
    margin-top: 5px;
    border-radius: 3px;
    text-align: left;
}

.cart-card img {
    min-width: 80px;
    max-width: 80px;
    min-height: 110px;
    max-height: 110px;
    cursor: pointer;
    transition: 0.5s;
}

.cart-card img:hover {
    transform: scale(1.1);
}

.cart-card a {
    color: royalblue;
    text-decoration: none;
}

.cart-card a:hover {
    color: blue;
}

.cart-card .checkbox {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.cart-card .checkname {
    font-size: 14px;
}

.cart-card i {
    font-size: 18px;
    transition: 0.4s;
}

.cart-card i:hover {
    transform: scale(1.1);
}

.cart-card .btn h6 {
    font-size: 12px;
}

.handle-counter {
    overflow: hidden;
}

.quantity-picker .handle-counter .counter-minus,
.quantity-picker .handle-counter .counter-plus,
.quantity-picker .handle-counter input {
    float: left;
    text-align: center;

}

.quantity-picker .handle-counter .counter-minus,
.quantity-picker .handle-counter .counter-plus {
    text-align: center;
}

.quantity-picker .handle-counter input {
    width: 40px;
    border: none;
}

.quantity-picker .btn {
    padding: 0px 10px;
    border: 1px solid transparent;
    color: #fff;
}

.quantity-picker .btn-primary {
    background-color: #009dda;
}

.quantity-picker .btn-primary:hover,
.quantity-picker .btn-primary:focus {
    background-color: #0486b9;
}

/*Check-Out*/

.card .card-body .item-list {
    color: darkslategray;
}

.card .card-body .payment-method img {
    min-width: 50px;
    max-width: 50px;
    min-height: 45px;
    max-height: 45px;
    transition: 0s;
    cursor: unset;
    border-radius: 5px;
    margin: 0px 10px;
}

.card .card-body .payment-method img:hover {
    transform: scale(1.0);
}

.card .card-body .payment-method label {
    font-size: 14px;
}

.card.check-out {
    overflow-y: hidden;
}

.card .card-body .payment-method form label.method-text,
.card .card-body .payment-method form p.method-text {
    font-weight: 550;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 14px;
}

.card .card-body .payment-method form input.method-input {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: 1px solid #000;
    border-left-style: none;
    height: 25px;
    padding: 0;
    width: 90%;
    margin: 0px 20px;
}

.card .card-body .payment-method form input.method-input:focus {
    outline: none;
}

/*.card .card-body .payment-method form #gCashMethod{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in;
    display: block;
}*/

/*Customer Profile*/

.customer-profile img {
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.customer-details h5 {
    font-weight: 550;
}

.customer-details p {
    font-size: 14px;
}

.customer-details i {
    font-size: 25px;
}

.customer-details:hover {
    color: royalblue;
}

.card-1,
.card-2 {
    min-height: 690px;
    max-height: auto;
}

.form-input {
    position: relative;
}

.form-input input {
    width: 100%;
    height: 45px;
    padding-left: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid #00000020;
    border-radius: 50px;
    outline: none;
    background: transparent;
}

.form-input span {
    position: absolute;
    top: 10px;
    padding-left: 15px;
    color: #007bff;
}

.form-input input::placeholder {
    color: #000;
    padding-left: 0px;
}

.form-input input:focus,
.form-input input:valid {
    border: 2px solid #007bff;
}

.form-input input:focus::placeholder {
    color: #454b69;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #007bff !important;
    border: 0px;
}

.form-box button[type="submit"] {
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    background: #007bff;
    color: #fff;
    font-size: 90%;
    font-weight: bold;
    letter-spacing: .1rem;
    transition: 0.5s;
    padding: 12px;
}

.form-box button[type="submit"]:hover {
    background: #0069d9;
}

.forget-link,
.login-link {
    color: #007bff;
    font-weight: bold;
}

.forget-link:hover,
.login-link:hover {
    color: #0069d9;
    text-decoration: none;
}

.form-box .enable-btn {
    color: royalblue;
}

.info-update {
    display: none;
}

.enable-btn:hover {
    color: dodgerblue;
    transition: 0.3s;
}

.customer-order-card,
.customer-password-card {
    display: none;
}

.card-2 img {
    min-width: 120px;
    max-width: 120px;
    min-height: 150px;
    max-height: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.card-2 img:hover {
    border-radius: 10px;
}

.card-2 h6 {
    font-weight: bold;
}

.my-books-tab {
    border-right: 1px solid #ccc;
}

/* Change background color of buttons on hover */
p.deactivation-btn:hover,
.my-books-tab:hover,
.my-wishlists-tab:hover,
.my-books-tab h4:hover,
.my-wishlists-tab h4:hover {
    color: dodgerblue;
    transition: 0.4s;
}

.tab .active {
    color: royalblue;
}

.side-tab .active {
    color: royalblue;
}

/* Style the tab content */
#my-wishlists {
    display: none;
}

.modal-header h3{
    font-size: 20px;
}

.modal-footer .cancel-btn {
    border-style: none;
    background-color: #fff !important;
}

.modal-footer .save-btn {
    padding: 3px 20px;
    border-radius: 5px;
    background-color: royalblue;
    color: whitesmoke;
    transition: 0.4s;
}

.modal-footer .file-btn{
    padding: 3px 15px;
    color: whitesmoke;
    background-color: slategray;
    border-radius: 5px;
    transition: 0.4s;
}

.modal-footer .file-btn:hover{
    background-color: grey;
    transition: 0.4s;
}

.modal-footer .save-btn:hover {
    background-color: dodgerblue;
    transition: 0.4s;
}

.modal-footer .cancel-btn:hover {
    color: dodgerblue;
}